<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Index</title>
    <style>
      body {
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #efdff0;
      }
    </style>
</head>

<body>
  
<div class="position-absolute top-50 start-50 translate-middle" style="text-align: center;">


    <p class="fs-1 text-primary">Menu Cifrados</p>

    <p class="fs-2 text-info" >Nota: Existe una probabilidad de crasheo en la parte de decifrados por un error en el paquete. </p>


    <p class="fs-3 text-danger">!Elije bien las opciones en la parte de cifrados! </p>

    <p class="fs-6 text-success">Silva Juarez Alejandro 5IV8 </p>

    <a href="/cifrar" class="btn btn-outline-primary btn-lg">Cifrar</a>
    <a href="/descifrar" class="btn btn-outline-primary btn-lg">Descifrar</a>
  </div>
</body>
</html>